.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * 30px);
}

.clients__item {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
}

.client__logo {
  fill: currentColor;
}

.client__link {
  color: var(--icon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: color var(--effect-duration) var(--timing-function),
    border var(--effect-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
