.accent {
  color: var(--accent-color);
}

.logo {
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: Raleway;

  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
